{$DOMAIN_NAME} {
    proxy / django:5000 {
        transparent
    }
    log stdout
    errors stdout
    gzip
    # https://caddyserver.com/docs/tls
    tls {{cookiecutter.email}}
    header / {
        # Enable HTTP Strict Transport Security (HSTS) to force clients to always
        # connect via HTTPS (do not use if only testing)
        Strict-Transport-Security "max-age=31536000;"
        # Enable cross-site filter (XSS) and tell browser to block detected attacks
        X-XSS-Protection "1; mode=block"
        # Prevent some browsers from MIME-sniffing a response away from the declared Content-Type
        X-Content-Type-Options "nosniff"
        # Disallow the site to be rendered within a frame (clickjacking protection)
        X-Frame-Options "DENY"
        # Force HTTP requests to be HTTPS
        Content-Security-Policy "upgrade-insecure-requests"
        # Control how much information the browser includes with navigations away from a document
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}
